<!DOCTYPE html>
<html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title> {% block title %}My Dashboard{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        {% if user.is_authenticated %}
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'music:home' %}">Dashboard</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="{% url 'music:album-add' %}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Album
            </a>
          </li>
          <li class="">
            <a href="{% url 'logout' %} ">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
            </a>
          </li>
        </ul>

        {% else %}

        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Dashboard</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="{% url 'signup' %}">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp; Signup
            </a>
          </li>
          <li class="">
            <a href="{% url 'login' %}">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp; Login
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
    {% block body %}
    {% endblock %}
  </body>
</html>
