{% extends 'music/base.html' %}

{% block title %}Home{% endblock %}

  {% block content %}
        {% if user.is_authenticated %}
        <h3>Hi {{ user.username }}!</h3>
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="album/add/">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Album
            </a>
          </li>
          <li class="">
            <a href="{% url 'login' %} ">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp; Login
            </a>
          </li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="music/album/add/">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Register
            </a>
          </li>
          <li class="">
            <a href="">
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp; Logout
            </a>
          </li>
        </ul>
        {% endif %}
    {% endblock %}
